
/*Board 1*/
.board-1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-1 .area.orange {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.board-1 .area.red {
    grid-column: 2 / 6;
    grid-row: 1 / 6;
}

.board-1 .area.yellow {
    grid-column: 6 / -1;
    grid-row: 1 / 4;
}

.board-1 .area.red.red-2 {
    grid-column: 6 / -1;
    grid-row: 4 / 6;
}

.board-1 .area.blue {
    grid-column: 2 / -1;
    grid-row: 6 / -1;
}

/* Board 2 */
.board-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-2 .area.red {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.board-2 .area.orange {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
}

.board-2 .area.yellow {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
}

/* Board 3 */
.board-3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-3 .area.red {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.board-3 .area.orange {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.board-3 .area.orange .sub-area.red.red1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.board-3 .area.orange .sub-area.blue {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
}

/* Board 4 */
.board-4 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-4 .area.red {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
.board-4 .area.orange {
    grid-column: 1 / -1;
    grid-row: 2 / 8;
}

.board-4 .area.yellow {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
}

/* Board 5 */
.board-5 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-5 .area.red {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.board-5 .area.orange {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
}

.board-5 .area.yellow {
    grid-column: 5 / -1;
    grid-row: 2 / -1;
}

/* Board 6 */
.board-6 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-6 .area.red {
    grid-column: 1 / 7;
    grid-row: 1 / 4;
}

.board-6 .area.orange {
    grid-column: 7 / -1;
    grid-row: 1 / 4;
}

.board-6 .area.yellow {
    grid-column: 1 / 4;
    grid-row: 4 / -1;
}

.board-6 .area.red.red2 {
    grid-column: 4 / 7;
    grid-row: 4 / -1;
}

.board-6 .area.blue {
    grid-column: 7 / -1;
    grid-row: 4 / -1;
}

/* Board 7 */
.board-7 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-7 .area.red {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.board-7 .area.orange {
    grid-column: 5 / -1;
    grid-row: 1 / 3;
}

.board-7 .area.yellow {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
}

.board-7 .area.red.red2 {
    grid-column: 5 / -1;
    grid-row: 3 / 6;
}

.board-7 .area.blue {
    grid-column: 1 / 5;
    grid-row: 5 / 8;
}

.board-7 .area.purple {
    grid-column: 5 / -1;
    grid-row: 6 / 8;
}

.board-7 .area.green {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
}

/* Board 9 */
.board-9 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: black;
    gap: 10px;
}

.board-9 .area.red {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}