@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --white: #fff;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --accent-lightest: #dbeafe;
    --accent-light: #93c5fd;
    --accent-base: #2563eb;
    --accent-dark: #1d4ed8;
    --accent-darkest: #1e40af;

    --highlight-base: #f59e0b;
    --highlight-dark: #d97706;

    --font-family: 'Inter', sans-serif;
}

/* Typography */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }

h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

h4 {
    font-size: 1.125rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    text-wrap: pretty;
}

a {
    text-decoration: none;
}



/* Resets */

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    font-family: var(--font-family);
}

img, picture, video, canvas, svg {
    display: block;
    }   